html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #767474;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  height: 120px;
  color: #e21411;
  box-shadow: 0 3px 25px 5px #000000;
  z-index: 999;
}

nav .logo {
  height: 120px;
  width: 120px;
  background-image: url(../img/logo2.png);
  background-repeat: no-repeat;
  background-size: 120px;
  margin-top: 10px;
  margin-left: -450px;
}

nav .nama {
  display: flex;
  width: 600px;
  height: 100px;
  background-image: url(../img/Name5.png);
  background-repeat: no-repeat;
  background-size: 350px;
  margin-top: -100px;
  margin-left: -300px;
}

nav ul {
  display: flex;
  position: absolute;
  right: 650px;
  top: 50px;
  list-style: none;
  width: 25%;
  margin-left: -50px;
  justify-content: space-between;
}

nav ul li a {
  font-weight: 700;
  z-index: 10;
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: whitesmoke;
  transition: width 0.5s ease;
}

nav a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  height: 800px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.image {
  margin: 250px auto;
  margin-top: 200px;
  width: 100%;
  max-width: 1079px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 18px 35px 1px #000000;
  background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025.Our_Best-Best_StoryBest_choreography_Winner_2nd_P_4.jpg);
}

/* container-satu */
.container-satu {
  background-color: #e7dddd;
  margin-top: -5px;
  padding: 120px;
}

.container-satu h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.container-satu p {
  font-size: x-large;
  font-weight: 500;
  text-align: justify;
}

/* container-dua */
.container-dua {
  max-width: 100%;
  margin-top: -255px;
  margin-bottom: -190px;
  background-image: url(../img/ChatGPT\ Image\ Dec\ 28\,\ 2025\,\ 02_35_56\ AM.png);
  padding: 30px;
  border-radius: 8px;
}
.container-dua h1 {
  text-align: center;
  margin: 60px auto;
}
.festival {
  text-align: center;
  margin-bottom: 40px;
}

.festival h3 {
  margin-bottom: 10px;
}

.festival p {
  margin: 4px 0;
}

.border {
  margin: 25px auto;
  width: 700px;
  border-top: 2px solid #767474;
}

/* container-tiga */
.container-tiga {
  background-color: #e7dddd;
  width: 100%;
  height: 800px;
  margin: -5px auto;
  display: flex;
  justify-content: center;
}

.bckgrnd-1 {
  margin-top: 20px;
  margin-right: 40px;
  height: 685px;
  background-color: #767474;
  border-radius: 25px;
  box-shadow: -10px 12px 25px 5px #000;
}
.bckgrnd-2 {
  margin-top: 20px;
  margin-right: 40px;
  height: 685px;
  background-color: #767474;
  border-radius: 25px;
  box-shadow: 0 12px 25px 5px #000;
}
.bckgrnd-3 {
  margin-top: 20px;
  height: 685px;
  background-color: #767474;
  border-radius: 25px;
  box-shadow: 10px 12px 25px 5px #000;
}

.card {
  border: 3px solid #000000;
  border-radius: 15px;
  overflow: hidden;
  margin: 15px;
}

.card .header-1 {
  height: 500px;
  background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025.Our_Best-Best_StoryBest_choreography_Winner_2nd_P.jpg);
  background-size: 400px;
  background-position: -40px, 0;
}

.card .header-2 {
  height: 500px;
  background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025.Our_Best-Best_StoryBest_choreography_Winner_2nd_P_1.jpg);
  background-size: 400px;
}

.card .header-3 {
  height: 500px;
  background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025.Our_Best-Best_StoryBest_choreography_Winner_2nd_P_2.jpg);
  background-size: 400px;
}
.content {
  padding: 20px;
  width: 265px;
  text-align: justify;
  margin: 10px auto;
}

/* Container-empat */
.container-empat {
  margin: -100px auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.carousel {
  width: 600px;
  height: 600px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
}

.slides {
  display: flex;
  width: max-content;
  transition: transform 1.2s ease;
}

.slide-1 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/Festival_Kabaret_Paranor2019Juara_3Best_AktrisNominasi_Best_AktorNominasi_Cerita_Terba_3.jpg);
}
.slide-2 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/Festival_Kabaret_Paranor2019Juara_3Best_AktrisNominasi_Best_AktorNominasi_Cerita_Terba_1.jpg);
}
.slide-3 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/Festival_Kabaret_Paranor2019Juara_3Best_AktrisNominasi_Best_AktorNominasi_Cerita_Terba_2.jpg);
}
.slide-4 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024_6.jpg);
}
.slide-5 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024_4.jpg);
}
.slide-6 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024_1.jpg);
}
.slide-7 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024_3.jpg);
}
.slide-8 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024_5.jpg);
}
.slide-9 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_PANGAREPIPUNat_abhipraya.arunika_2024.jpg);
}
.slide-10 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_MEVINBYRAt_GYFEST_2023._.Our_best-.Best_Costume_Best_Choreography_Best_Actress_Best_S.jpg);
}
.slide-11 {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url(../img/KAPASTWO_-_MEVINBYRAt_GYFEST_2023._.Our_best-.Best_Costume_Best_Choreography_Best_Actress_Best_S_2.jpg);
}

input[type='radio'] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}
#slide2:checked ~ .slides {
  transform: translateX(-500px);
}
#slide3:checked ~ .slides {
  transform: translateX(-1100px);
}
#slide4:checked ~ .slides {
  transform: translateX(-1700px);
}
#slide5:checked ~ .slides {
  transform: translateX(-2300px);
}
#slide6:checked ~ .slides {
  transform: translateX(-2900px);
}
#slide7:checked ~ .slides {
  transform: translateX(-3500px);
}
#slide8:checked ~ .slides {
  transform: translateX(-4100px);
}
#slide9:checked ~ .slides {
  transform: translateX(-4700px);
}
#slide10:checked ~ .slides {
  transform: translateX(-5300px);
}

.round {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 180px;
}

.round label {
  width: 12px;
  height: 12px;
  background: #000000;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

#next {
  background-image: url(../img/right.png);
  margin-right: 20px;
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: #000000;
}

#prev {
  background-image: url(../img/left.png);
  margin-left: 20px;
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: #000000;
}

/* About */
.contact-form {
  width: 600px;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  width: 25%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #e21411;
}

/* footer */
.footer {
  height: 120px;
  background-color: #767474;
  display: flex;
  justify-content: space-around;
}

.ig a {
  background-image: url(../img/instagram.png);
  background-size: 50px;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: larger;
  margin-top: 40px;
  color: #bd0502;
}

.ig a:hover {
  color: #000;
}

.create a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 50px;
  color: #bd0502;
}

.create a:hover {
  color: #000;
}

.youtube a {
  background-image: url(../img/youtube.png);
  background-size: 50px;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: larger;
  margin-top: 40px;
  color: #bd0502;
}

.youtube a:hover {
  color: #000;
}

/* menu-toggle */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  right: -50px;
  margin-left: 200px;
  bottom: 60px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 30px;
  left: -8px;
  top: -3px;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: #000000;
  border-radius: 5px;
  transition: all 0.8s;
}

/* menu-toggle animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(3) {
  transform-origin: 0 50%;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #e21411;
  transform: rotate(390deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #e21411;
  transform: rotate(330deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(360deg);
}

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav {
    max-width: 768px;
  }
  nav .logo {
    background-size: 120px;
    margin-left: -200px;
    margin-top: -10px;
  }
  nav .nama {
    background-size: 350px;
    margin-top: -130px;
    background-position: center;
    margin-left: -200px;
  }
  nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    top: 80px;
    right: 210px;
  }
  .hero {
    width: 100%;
    height: 800px;
  }
  .image {
    background-size: 1100px;
    width: 600px;
    height: 800px;
    margin-left: 73px;
    margin-right: 73px;
  }
  .container-satu {
    padding: 80px;
  }
  .container-satu p {
    font-size: large;
    font-weight: 500;
    text-align: justify;
  }
  .bckgrnd-1 {
    width: 500px;
    height: 910px;
    background-color: #767474;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  .bckgrnd-2 {
    width: 500px;
    height: 910px;
    background-color: #767474;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  .bckgrnd-3 {
    width: 500px;
    height: 910px;
    background-color: #767474;
    margin-bottom: 25px;
    border-radius: 15px;
  }
  .container-tiga {
    width: 500px;
    margin: 100px auto;
    flex-direction: column;
  }
  .card .header-1 {
    height: 750px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_1.png);
    background-size: 600px;
    background-position: -70px, 0;
  }
  .card .header-2 {
    height: 750px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_2.png);
    background-size: 600px;
    background-position: -50px, 0;
  }
  .card .header-3 {
    height: 750px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_3.png);
    background-size: 600px;
    background-position: -40px, -10px;
  }
  .content {
    width: 400px;
    text-align: justify;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
    max-width: 100%;
  }
  nav {
    height: max-content;
  }
  nav .logo {
    margin-top: 30px;
    margin-left: -140px;
    background-size: 70px;
  }
  nav .nama {
    margin-top: -140px;
    margin-left: -250px;
    background-size: 240px;
  }
  nav ul {
    position: absolute;
    right: 150px;
    top: 80px;
    height: 100vh;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #767474;
    z-index: 1;
    transform: translateX(100%);
    transition: all 1.2s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-toggle {
    display: flex;
    top: -60px;
    right: 10px;
    z-index: 2;
  }
  .container-satu {
    margin-top: -10px;
    padding: 60px;
  }
  .container-satu h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .container-satu p {
    font-size: large;
    font-weight: 500;
    text-align: justify;
  }
  .container-dua {
    margin-top: -90px;
    margin-bottom: -100px;
  }
  .border {
    margin: 0 auto;
    width: 300px;
  }
  .hero {
    height: 400px;
    display: flex;
    justify-content: center;
  }
  .image {
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025.Our_Best-Best_StoryBest_choreography_Winner_2nd_P_4_mini.jpg);
    background-size: cover;
    width: 100%;
    max-width: 411px;
    height: 300px;
    margin: 20px, auto;
  }
  .bckgrnd-1 {
    width: 300px;
    height: 620px;
    margin: 25px auto;
    border-radius: 15px;
  }
  .bckgrnd-2 {
    width: 300px;
    height: 620px;
    margin: 25px auto;
    border-radius: 15px;
  }
  .bckgrnd-3 {
    width: 300px;
    height: 620px;
    margin: 25px auto;
    border-radius: 15px;
  }
  .container-tiga {
    background-color: #e7dddd;
    width: 100%;
    height: 130rem;
    margin: -5px auto;
    display: flex;
    justify-content: center;
  }
  .card .header-1 {
    height: 375px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_mini_1.png);
    background-size: cover;
    background-position: 1px, 0;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  .card .header-2 {
    height: 375px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_mini_2.png);
    background-size: cover;
    background-position: 1px, 0;
    background-repeat: no-repeat;
  }
  .card .header-3 {
    height: 375px;
    background-image: url(../img/KAPASTWO_-_FATAMORGANA_At_winfestcabaret_2025_mini_3.png);
    background-size: cover;
    background-position: 1px, 0;
    background-repeat: no-repeat;
  }
  .content {
    width: 195px;
    margin: 5px auto;
    padding: -10px;
  }
  .container-empat {
    margin: -100px auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
  }
  .carousel {
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5,
  .slide-6,
  .slide-7,
  .slide-8,
  .slide-9,
  .slide-10,
  .slide-11 {
    width: 400px;
    height: 400px;
  }

  .contact-form {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
  }

  .contact-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contact-form button {
    width: 25%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background: #e21411;
  }

  .footer {
    height: max-content;
    background-color: #767474;
    display: flex;
    flex-direction: row;
  }

  .ig a {
    background-size: 40px;
    background-repeat: no-repeat;
    width: 190px;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: large;
    margin-top: 30px;
    color: #bd0502;
  }

  .ig a:hover {
    color: #000;
  }

  .create a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 30px;
    margin-left: -40px;
    color: #bd0502;
  }

  .youtube a {
    background-size: 40px;
    background-repeat: no-repeat;
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: large;
    margin-top: 30px;
    margin-left: 10px;
    color: #bd0502;
  }

  .youtube a:hover {
    color: #000;
  }

  #slide1:checked ~ .slides {
    transform: translateX(0);
  }
  #slide2:checked ~ .slides {
    transform: translateX(-300px);
  }
  #slide3:checked ~ .slides {
    transform: translateX(-700px);
  }
  #slide4:checked ~ .slides {
    transform: translateX(-1100px);
  }
  #slide5:checked ~ .slides {
    transform: translateX(-1500px);
  }
  #slide6:checked ~ .slides {
    transform: translateX(-1900px);
  }
  #slide7:checked ~ .slides {
    transform: translateX(-2300px);
  }
  #slide8:checked ~ .slides {
    transform: translateX(-2700px);
  }
  #slide9:checked ~ .slides {
    transform: translateX(-3100px);
  }
  #slide10:checked ~ .slides {
    transform: translateX(-3500px);
  }
  .round {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
