* {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  display: flex;
  background-color: #767474;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  height: 120px;
  color: #e21411;
}

nav .logo {
  height: 120px;
  width: 120px;
  background-image: url(/img/logo2.png);
  background-repeat: no-repeat;
  background-size: 120px;
  margin-top: 10px;
  margin-left: -450px;
}

nav .nama {
  display: flex;
  width: 600px;
  height: 100px;
  background-image: url(/img/Name5.png);
  background-repeat: no-repeat;
  background-size: 350px;
  margin-top: -100px;
  margin-left: -300px;
}

nav ul {
  display: flex;
  position: absolute;
  right: 50px;
  top: 50px;
  list-style: none;
  width: 25%;
  margin-left: -50px;
  justify-content: space-between;
}

nav ul li a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: 0.5s ease;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: whitesmoke;
  transition: width 0.5s ease;
}

nav a:hover::after {
  width: 100%;
}

/* container-satu */
.container-satu {
  margin-top: 50px;
  padding: 50px;
}

.container-satu h2 {
  text-align: center;
  margin-bottom: 15px;
}

.container-satu p {
  font-size: larger;
  font-weight: 500;
  text-align: justify;
}

/* container-tiga */
.container-tiga {
  background-color: #efefef;
  width: 800px;
  margin: 100px auto;
  display: flex;
}

.card {
  border: 1px solid rgb(252, 234, 234);
  border-radius: 10px;
  background-color: aliceblue;
  overflow: hidden;
  margin: 10px;
}

.card .header {
  height: 150px;
  background-color: #e5e5fc;
}

.card .content {
  text-align: center;
  margin: 20px auto;
}

/* menu-toggle */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  right: -50px;
  margin-left: 200px;
  bottom: 60px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 30px;
  left: -8px;
  top: -3px;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: #000000;
  border-radius: 5px;
  transition: all 0.8s;
}

/* menu-toggle animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(3) {
  transform-origin: 0 50%;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #e21411;
  transform: rotate(400deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #e21411;
  transform: rotate(320deg);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(360deg);
}

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav {
    max-width: 768px;
  }
  nav .logo {
    background-size: 120px;
    margin-left: -200px;
    margin-top: -10px;
  }
  nav .nama {
    background-size: 350px;
    margin-top: -130px;
    background-position: center;
    margin-left: -200px;
  }
  nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    top: 80px;
    right: 210px;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  nav {
    min-width: 344px;
  }
  nav .logo {
    margin-top: 30px;
    margin-left: -170px;
    background-size: 80px;
  }
  nav .nama {
    margin-top: -130px;
    margin-left: -250px;
    background-size: 300px;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 80px;
    height: 100vh;
    width: 35%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #767474;
    z-index: 1;
    transform: translateX(100%);
    transition: all 1.2s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-toggle {
    display: flex;
    top: -60px;
    right: -5px;
    z-index: 2;
  }
}
